<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
  {% block htmlhead %}
    <title>{% block title %}Home{% endblock %} | arteme.fi</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link href="/feed.atom" rel="alternate" title="Recent Blog Posts" type="application/atom+xml">
    {%- for link in links %}
    <link rel="{{ link.rel }}" href="{{ link.href }}"{%
      if link.media %} media="{{ link.media }}"{% endif %} type="{{ link.type }}">
    {%- endfor %}
  {% endblock %}
  </head>
  <body>
    <div class=container>
      <div class=header>
        <a href="/">arteme.fi</a>
      </div>
      <div class=navigation>
        <ul>
          <li><a href="/archive/">archive</a>
          <li><a href="/tags/">tags</a>
          <!--
          <li><a href="/projects/">projects</a>
          <li><a href="/talks/">talks</a>
          -->
          <li><a href="/about/">about</a>
        </ul>
      </div>
      <div class=body>
      {% block body %}{% endblock %}
      </div>
      <div class=footer>
        <p>Copyright &copy; 2008-2011 Artem Egorkine.
        <p>
          Content licensed under the Creative Commons
          attribution-noncommercial-sharealike License.
        <p>
        (<a href="/feed.atom" rel="alternate" title="Recent Blog Posts">atom feed</a>)
      </div>
    </div>
  </body>
</html>
