/* Notes:
 *
 * color scheme: http://colorschemedesigner.com/#3i21Tw0qMw0w0 
 *
 * Sorts Mill Goudy is a pretty font, but requires extra word spacing
 * for readability. We set extra spacing for body and remove it for
 * pre/code/tt.
 */

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic=latin,latin-ext,cyrillic-ext,cyrillic);

/* general style */
body    { font: 16px/21px 'Sorts Mill Goudy', serif; word-spacing: 0.2em;
          margin: 0; padding: 0; }
a       { color: #d56100; text-decoration: none; }
a:hover { text-decoration: underline; }

/* headlines */
h1, h2, h3, h4, h5, h6      { color: Teal; font-weight: normal; }
h1, h2                      { margin: 10px 0 25px 0; }
h1                          { font-size: 36px; line-height: 40px; }
h2                          { font-size: 32px; line-height: 36px; }
th, strong                  { font-weight: normal; color: #005353; }

/* layout elements */
div.container               { width: 740px; margin: 48px auto; padding: 0; }
div.header                  { float: left; font-size: larger; }
div.navigation              { float: right; }
div.header, div.navigation  { height: 25px; margin-bottom: 42px; }
div.navigation ul           { margin: 0; padding: 0; list-style: none; }
div.navigation ul li        { display: inline; margin: 0 2px; padding: 0; }
div.body                    { clear: both; }
div.footer                  { border-top: 1px dotted #ddd; padding-top: 9px;
                              margin-top: 42px; font-size: 16px; color: #888;
                              text-align: center; }
div.footer p                { margin: 0; }

/* margins and stuff */
p, div.line-block, ul, ol, pre,
    table                       { margin: 25px 0 25px 0; }
dt                              { margin: 25px 0 16px 0; padding: 0; }
dd                              { margin: 16px 0 25px 40px; padding: 0; }
ul ol, ol ul, ul ul, ol ol      { margin: 10px 0; padding: 0 0 0 40px; }
li                              { padding: 0; }
h1 + p.date                     { margin-top: -20px; font-style: italic; }

/* code formatting.  no monospace because of webkit (bug?) */
pre, code, tt   { font-family: 'Menlo', 'Deja Vu Sans Mono',
                  'Bitstream Vera Sans Mono', 'Consolas', 'Monaco', 'Courier New';
                  font-size: 0.82em; word-spacing: 0; }
pre             { line-height: 1.3; border: 1px solid #ddd; padding: 10px;
                  background: #fafafa; }
code, tt        { background: #eee; }

/* tables */
table           { border: 1px solid #ddd; border-collapse: collapse;
                  background: #fafafa; }
td, th          { padding: 2px 12px; border: 1px solid #ddd; }

/* footnotes */
table.footnote          { margin: 15px 0; background: transparent; border: none; }
table.footnote td       { border: none; padding: 9px 0 0 0; font-size: 15px; }
table.footnote td.label { padding-right: 10px; }
table.footnote td p     { margin: 0; }
table.footnote td p + p { margin-top: 15px; }

/* blog overview */
div.entry-overview                  { margin: 25px 40px 25px 25px; }
div.entry-overview h1,
div.entry-overview div.summary,
div.entry-overview div.summary p    { display: inline; line-height: 25px; }
div.entry-overview h1               { margin: 0; font-size: 20px; }
div.entry-overview div.summary,
div.entry-overview div.date,
div.entry-overview div.summary p    { margin: 0; padding: 0; }
div.entry-overview div.detail       { margin-left: 140px; }
div.entry-overview div.date         { float: left; width: 120px; color: #888;
                                      text-align: right; font-style: italic; }
div.entry-overview h1               { color: black; }
div.entry-overview h1:after         { content: " —"; }

/* other alignment things */
img.align-center        { margin: 15px auto; display: block; }

/* pagination */
div.pagination          { margin: 36px 0 0 0; text-align: center; }
div.pagination strong   { font-weight: normal; font-style: italic; }

/* tags */
p.tags          { text-align: right; font-style: italic; }
ul.tagcloud     { font-size: 16px; margin: 36px 0; padding: 0;
                  list-style: none; }
ul.tagcloud li  { margin: 0; padding: 0 10px; display: inline; }

/* latex math */
span.math img   { margin-bottom: -7px; }

/* special style for header */
div.header { font-size: 36px; line-height: 40px; font-style: italic;
             margin-top: -10px; }
div.header a { color: black; }

